<div class="jumbotron text-center">
  <img src="/logos/longcon.svg" alt="The Long Con logo" />
  <h1>The Long Con 2018</h1>
  <p class="lead">November 3rd and 4th, 2018</p>
  <p class="lead">The King's Head Pub, Winnipeg, Canada</p>
  <p><a class="btn btn-lg btn-danger" href="https://www.eventbrite.ca/e/the-long-con-2018-tickets-50105416650" role="button">Tickets Sold Out<br/>Join Waitlist</a></p>
  <p><a class="btn btn-lg btn-success" href="https://join.slack.com/t/dc204/shared_invite/enQtMzIwMDAyOTM5OTg0LTQ3YzhkNDFkZmQwNTU0Y2FkOTlmNTAyYmUxMTkwMzhjYzY0NzdlOTM5OGZlZjlkODQzNGNiOTY4YmZkYjQxMmU" role="button">Join Our Slack Team</a></p>
</div>
