<div class="jumbotron text-center">
  <img src="/logos/longcon.svg" alt="The Long Con logo" />
  <h1>The Long Con</h1>
  <!-- Location and date/time -->
  <!-- <p class="lead">November 2nd and 3rd, 2019</p> -->
  <!-- <p class="lead">The Good Will Social Club, Winnipeg, Canada</p> -->
  <!-- Tickets link -->
  <!-- <p> <a class="btn btn-lg btn-success" href="https://www.eventbrite.ca/e/the-long-con-2019-tickets-51821389170" role="button">Purchase Tickets</a></p> -->
  <p><a class="btn btn-lg btn-success" href="https://join.slack.com/t/dc204/shared_invite/enQtNjU2MTA4NTM0Mzg4LTExZjExNGJjYThiMzlmOWU2ZjM5MWI3Y2UyYTRhYWE1NDc2NzJiOWExNzkyYmM5MjdjYTBkZTEwMmY1OTQ5NTA" role="button">Join Our Slack Team</a></p>
  <!-- Sponsor package link -->
  <!-- <p><a class="btn btn-lg btn-success" href="/TLC-2019-Sponsorship-Package.pdf">Sponsor The Long Con</a></p> -->
</div>
