<div class="jumbotron text-center">
  <img src="/logos/longcon.svg" alt="The Long Con logo" />
  <h1>The Long Con</h1>
  <!-- Location and date/time -->
  <p class="lead">November 4th and 5th, 2023</p>
  <p class="lead">The Good Will Social Club, Winnipeg, Canada</p>
  <!-- Tickets link -->
  <!-- <p> <a class="btn btn-lg btn-success" href="https://www.eventbrite.ca/e/the-long-con-2019-tickets-51821389170" role="button">Purchase Tickets</a></p> -->
  <p><a class="btn btn-lg btn-success" href="https://join.slack.com/t/dc204/shared_invite/enQtNjU2MTA4NTM0Mzg4LTgyZDgwY2MwMjc5NDFkYzBmOWI5MThjZDg4MjE5YWI4NWVlNmQxMWM5ZjAwNzIwY2I2MDk3ZjM4NjA3YzJhZGI" role="button">Join Our Slack Team</a></p>
  <!-- Sponsor package link -->
  <p><a class="btn btn-lg btn-success" href="/TLC-2023-Sponsorship-Package.pdf">Sponsor The Long Con</a></p>
</div>
