
<style>
  img.sponsorlogo { max-height:200px; max-width:450px; display:inline-block; padding:20px; }
  a.sponsortext { font-size:30px; font-weight:bold; display:inline-block; padding:20px }
</style>
{% assign sponsor_data_var_name = 'sponsors_' | append: include.year %}

{% for sponsor_group in site.data[sponsor_data_var_name] %}
  {% for sponsor in sponsor_group.sponsors %}
    <a href="{{ sponsor.link }}" target="_blank">
      {% if sponsor.logo %}
      <img class="sponsorlogo" src="/logos/{{ sponsor.logo }}" {% if sponsor.scale %} style="transform: scale({{ sponsor.scale }})" {% endif %} />
      {% else %}
      <p style="font-size: 4rem">{{ sponsor.name }}</p>
      {% endif %}
    </a>
  {% endfor %}
{% endfor %}
